.container{
    width: 98.5%;
    background-image: url("https://demo037130.web30s.vn/image-process/get-image-v3?path=/datafiles/web30s/upload/images/7101-7200/30S-03-7130/coupon_banner_bg.jpg&amp;width=0");
    min-height: 165px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: white;
        .code{
            padding: 18px 0;
            background-image: url("https://demo037130.web30s.vn/image-process/get-image-v3?path=/datafiles/web30s/upload/images/7101-7200/30S-03-7130/coupon_code.png&amp;width=0");
            // background: transparent;
            background-size: contain;
            flex: 0.8;
        }
        .info{
            flex: 1;
            .time{
                margin-bottom: 15px !important;
                text-align: left;
            }
            .title{
                text-align: left;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }  
}