.container {
    width: 25%;
    text-align: left;
    margin: 10px;
    .avatar {
        width: 100%;
        cursor: pointer;

        img {
            width: 100%;
            aspect-ratio: 1;
        }
    }

    .info {
        border: 1px solid black;
        padding-bottom: 13px;

        .price {
            color: #41464C;
            margin-top: 10px !important;
            padding: 0 25px;
            font-weight: bold;
            font-size: 15px;
        }

        .starGroup {
            padding: 0 20px;
            .icon {
                color: #fc9135;
                font-size: 10px;
                margin-top: 10px;

            }
        }

        .name {
            color: #41464C;
            padding: 0 25px;
            font-weight: bold;
            margin-top: 13px !important;
            margin-bottom: 13px !important;
            cursor: pointer;
        }

        .status {
            color: #4eb92d;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            padding: 0 25px;
        }

        .tools {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            margin-top: 15px;
            padding: 12px 0;
            height: auto;

            .btn{
                width: 80%;
                button{
                    width: 100%;
                    background: transparent;
                    outline: none;
                    cursor: pointer;
                    padding: 0.25rem 0;
                    background: 1px solid black;
                }
            }

            input {
                width: 70%;
                height: 100%;
                background-color: #eaeaea;
                border: 0;
                padding: 10px 5px;
                outline: none;
                text-align: center;
                font-size: 16px;
                border-radius: 999px;
            }

            .minus {
                color: #fc9135;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 13%;
                aspect-ratio: 1;
                border: 1px solid black;
                padding: 3px;
                font-size: 17px;
                border-radius: 50%;
                background-color: white;
                transform: translateX(36.5px);
                cursor: pointer;
            }

            .plus {
                color: #fc9135;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 13%;
                aspect-ratio: 1;
                border: 1px solid black;
                padding: 3px;
                font-size: 17px;
                border-radius: 50%;
                background-color: white;
                transform: translateX(-36.5px);
                cursor: pointer;
            }
        }
    }
    img{
        width: 100%;
        aspect-ratio: 1;
    }
}

.tool {
    overflow: hidden;
    transform: translateX(0);
    animation: show 0.7s 1 ease-in-out forwards;
    opacity: 0;

    .toolTag {
        padding: 6px;
        border-radius: 50%;
        background-color: #eaeaea;
        margin: 5px;
        aspect-ratio: 1;

        .icon {
            color: coral;
            aspect-ratio: 1;
            line-height: 0;
            background-color: white;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;

            &:hover {
                animation: up 0.3s 1 linear forwards;
            }
        }
    }
}

@keyframes show {
    to {
        transform: translateX(60px);
        opacity: 1;
    }
}

@keyframes up {
    to {
        color: white;
        background-color: #fc9135;
    }
}