.container {
    width: 24%;

    .avatar {
        width: 100%;
        cursor: pointer;
        img {
            width: 100%;
            aspect-ratio: 1;
            
        }
    }

    .info {
        border: 1px solid black;
        padding-bottom: 13px;

        .price {
            color: #41464C;
            margin-top: 10px !important;
            font-weight: bold;
            font-size: 15px;
        }

        .icon {
            color: #fc9135;
            font-size: 10px;
            margin-top: 10px;
        }

        .name {
            color: #41464C;
            font-weight: bold;
            margin-top: 13px !important;
            margin-bottom: 13px !important;
            cursor: pointer;
        }

        .status {
            color: #4eb92d;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }

        .tools {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            margin-top: 15px;
            padding: 12px 0;
            height: auto;

            .btn {
                border: 0;
                aspect-ratio: 1;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                border-radius: 50%;

                button {
                    width: 100%;
                    border: 0;
                    border-radius: 50%;
                    aspect-ratio: 1;
                    color: #fc9135;
                    cursor: pointer;

                    &:hover {
                        animation: up 0.2s 1 linear forwards;
                    }
                }
            }

            input {
                width: 70%;
                height: 100%;
                background-color: #eaeaea;
                border: 0;
                padding: 10px 5px;
                outline: none;
                text-align: center;
                font-size: 16px;
                border-radius: 999px;
            }

            .minus {
                
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 13%;
                aspect-ratio: 1;
                padding: 3px;
                font-size: 17px;
                border-radius: 50%;
                transform: translateX(36.5px);
                cursor: pointer;
            }

            .plus {
                
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 13%;
                aspect-ratio: 1;
                padding: 3px;
                font-size: 17px;
                border-radius: 50%;
                transform: translateX(-36.5px);
                cursor: pointer;
            }
        }
    }
}

.tool {
    overflow: hidden;
    transform: translateX(0);
    animation: show 0.7s 1 ease-in-out forwards;
    opacity: 0;
    .toolTag {
        padding: 6px;
        border-radius: 50%;
        background-color: #eaeaea;
        margin: 5px;
        aspect-ratio: 1;

        .icon {
            color: coral;
            aspect-ratio: 1;
            line-height: 0;
            background-color: white;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            &:hover {
                animation: up 0.3s 1 linear forwards;
            }
        }
    }
}

@keyframes show {
    to {
        transform: translateX(60px);
        opacity: 1;
    }
}

@keyframes up {
    to {
        color: white;
        background-color: #fc9135;
    }
}