.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
p{
  margin: 0 !important;
}
*{
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a{
  text-decoration: none !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Chọn thanh trượt */
::-webkit-scrollbar {
  width: 6px;
}

/* Thiết lập định dạng cho track của thanh trượt */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thiết lập định dạng cho thumb (phần di chuyển) của thanh trượt */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Thiết lập định dạng cho thumb khi hover or active*/
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: #555;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
