.container{
    .banner{
        width: 99%;
        aspect-ratio: 5;
        background-color: #6153fc;
        margin: 0 13px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        .title{
            flex: 1;
            font-weight: bold;
            font-size: 24px;
            margin: 0 80px;
            text-align: left;
            letter-spacing: 0.5px;
        }
        .content{
            flex: 1;
            display: flex;
            justify-content: left;
            input{
                padding: 15px 13px;
                width: 70%;
                font-size: 15px;
                outline: none;
                border-radius: 999px;
                border: 0;
            }
            button{
                background-color: coral;
                color: white;
                border: 0;
                margin-left: 20px;
                padding: 10px 20px;
                border-radius: 999px;
                cursor: pointer;
            }
        }
    }
    .mainIntro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .tag{
            width: 30%;
            display: flex;
            border-radius: 8px;
            box-shadow: 1px 2px 7px gray;
            padding: 22px;
            justify-content: space-around;
            margin: 15px;
            .img{
                width: 20%;
                aspect-ratio: 1;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f6f7f9;
                border-radius: 50%;
                img{
                    width: 30px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}